<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>analytics</title>
</head>
<body>

{% for analytic  in analytics %}
<div>
    <p>Analytics: {{ analytic.title }}</p>
    <p>By: {{ analytic.user }}</p>
    <p>URL: {{ analytic.url }}</p>
    <p>Short Path: {{ analytic.short_path }}</p>
</div>

<br><br>


<div>

    <div>
        <p>Total</p>
        <div>
            <p>last Day: {{ analytic.day }}</p>
            <p>last Week: {{ analytic.week }}</p>
            <p>last Month: {{ analytic.month }}</p>
            <p>Total: {{ analytic.total }}</p>
        </div>

        <br><br>

        <p>Mobile</p>
        <div>
            <p>last Day: {{ analytic.day_mobile }}</p>
            <p>last Week: {{ analytic.week_mobile }}</p>
            <p>last Month: {{ analytic.month_mobile }}</p>
            <p>Total: {{ analytic.total_mobile }}</p>
        </div>

        <br><br>

        <p>PC</p>
        <div>
            <p>last Day: {{ analytic.day_pc }}</p>
            <p>last Week: {{ analytic.week_pc }}</p>
            <p>last Month: {{ analytic.month_pc }}</p>
            <p>Total: {{ analytic.total_pc }}</p>
        </div>
    </div>

    <br><br>

    <!-- Unique -->
    <div>
        <p>Total Unique</p>
        <div>
            <p>last Day: {{ analytic.unique_day }}</p>
            <p>last Week: {{ analytic.unique_week }}</p>
            <p>last Month: {{ analytic.unique_month }}</p>
            <p>Total: {{ analytic.unique_total }}</p>
        </div>

        <br><br>

        <p>Mobile Unique</p>
        <div>
            <p>last Day: {{ analytic.unique_day_mobile }}</p>
            <p>last Week: {{ analytic.unique_week_mobile }}</p>
            <p>last Month: {{ analytic.unique_month_mobile }}</p>
            <p>Total: {{ analytic.unique_total_mobile }}</p>
        </div>

        <br><br>

        <p>PC Unique</p>
        <div>
            <p>last Day: {{ analytic.unique_day_pc }}</p>
            <p>last Week: {{ analytic.unique_week_pc }}</p>
            <p>last Month: {{ analytic.unique_month_pc }}</p>
            <p>Total: {{ analytic.unique_total_pc }}</p>
        </div>

    </div>

    <br><br>

</div>
{% endfor %}
</body>
</html>